name: Build and Release Extension

on:
  push:
    branches:
      - master

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Update Manifest
        run: |
          # Update version to 1.0.<run_number> and set ID
          jq '.version = "1.0.${{ github.run_number }}" | .browser_specific_settings.gecko.id = "171eaa48b8884ad68ec1"' public/manifest.json > public/manifest.json.tmp && mv public/manifest.json.tmp public/manifest.json

      - name: Build
        run: npm run build

      - name: Sign Extension
        run: |
          npx web-ext sign \
            --source-dir dist \
            --channel=unlisted \
            --api-key ${{ secrets.JWT_ISSUER }} \
            --api-secret ${{ secrets.JWT_SECRET }} \
            --artifacts-dir web-ext-artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v0.0.${{ github.run_number }}
          name: Release v0.0.${{ github.run_number }}
          files: |
            web-ext-artifacts/*.xpi

          generate_release_notes: true
